<!DOCTYPE html>
<html>
  <head>
    <title>Error Numbers</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="static/4dinfo/rotation.css"></link>
    <script type="text/javascript" src="static/4dinfo/piechart.js"></script>
  </head>
  <body onload="drawpiecharts({{ pieinfo|join:',' }});">
    <table border="3" style="border-collapse: collapse;">
      {% spaceless %}
      <tr>
        <th></th>
        {% for site in site_list %}
        <th class="rotate"><div><span>{{ site }}</span></div></th>
        {% endfor %}
      </tr>
      {% for step,title_list in steps_titles %}
      <tr>
        <th title="{{ step.name }}">{{ step.parent }}</th>
        {% for title in title_list %}
        <th><canvas id="canvas" width="20" height="20" class="piechart" title="{{ title }}"></canvas></th>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    {% endspaceless %}
  </body>
</html>
