<!DOCTYPE html>
<html>
  <head>
    <title>Error Numbers</title>
    {% load staticfiles %}
    <script type="text/javascript" src="static/4dinfo/piechart.js"></script>
    <style type="text/css">
      canvas { border: 1px solid black; }
    </style>
  </head>
  <body onload="drawpiecharts({{ pieinfo|join:',' }});">
    {% with site_list|length as numsites %}
      {% spaceless %}

        {% for info in pieinfo %}
          <canvas id="canvas" width="25" height="25" class="piechart"></canvas>
          {% if forloop.counter|divisibleby:numsites %}
          <br>
          {% endif %}
        {% endfor %}

      {% endspaceless %}
    {% endwith %}
  </body>
</html>
