1;95;0c<!DOCTYPE HTML>
<html lang=en>
  <head>
    <title>Unified Logs</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="static/showlog/style.css">
  </head>

  <body>

    <form>
      Submit another query:
      <input type="text" name="search" value="{{ search }}">
      Module:
      <input type="text" name="module" value="{{ module }}">
      Logs Limit:
      <input type="text" name="limit" value="{{ limit }}">
      <input type="submit" name="Submit">
    </form>

    <table border="3" style="border-collapse: collapse;">
      {% for log in logs %}
        <tr>
          <th width=60px><div class="box {{ log.subject }}"></div></th>
          <th>{{ log.subject }}</th>
          <th>{{ log.date }}</th>
        </tr>
        <tr>
          <td colspan="3">
            {% spaceless %}
              {% for line in log.text %}
                {{ line|safe }} <br>
              {% endfor %}
              <br>
            {% endspaceless %}
          </td>
        </tr>
      {% endfor %}
    </table>

    <h3>Meta Data:</h3>
    
    {% for line in meta %}
      {{ line }} <br>
    {% endfor %}

  </body>

</html>
